{% extends "./layout/main.njk" %}

{% set title = 'Conact' %}
{% set page = 'contact' %}

{% block content %}
<div class="contact-main">
  <div class="tagline h1">
    <span class="h1--black">W</span>e are waiting for your response.
    <br>
    never feel shy :D .
  </div>
  <div class="contact-container">
    <div class="contact-us h1--bold">
      <div class="container-tagline">Contact us</div>
    </div>
    <div class="location">
      <img src="img/location.png" alt="">
      <div class="location-text">
        <span class="location-tagline h2">My Location:</span>
        <br>
        <span class="location-desc h4">
          687/1 Los angles, New York down.
        </span>
      </div>
    </div>
    <div class="phone">
      <img src="img/phone.png" alt="">
      <div class="phone-text">
        <span class="h2">Phone</span>
        <br>
        <span class="h4">
          (+) 088 1658 95621
          <br>
          (+) 088 1658 95621
        </span>
        <br>
      </div>
    </div>
    <div class="email">
      <img src="img/email.png" alt="">
      <div class="email-text">
        <span class="h2">Email:</span>
        <br>
        <span class="h4">
          (+) 088 1658 95621
          <br>
          (+) 088 1658 95621
        </span>
      </div>
    </div>
    <div class="chat">
      <input class="chat-left h5" type="text" name="" placeholder="Or you can conncet with us through">
      <a href="#">
        <div class="chat-right h4">
          <img src="img/live-chat.png" alt="">
          <div>Live chat</div>
        </div>
      </a>
    </div>
    <div class="map">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d9936.222285035628!2d-0.1417318!3d51.4938477!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1507881225806" width="600" height="480" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
</div>
{% endblock %}
