{% extends "./layout/main.njk" %}

{% set title = 'Home' %}
{% set page = 'home' %}

{% block content %}
  <div class="main-home">
    <div class="home-main-text">
      <div class="h1-home--weight-bold">We DESIGN</div>
      <div class="h1-home--weight-normal">school</div>
      <div class="home-btn--margin">
        <a class="home-btn" href="#">Contact us</a>
      </div>
    </div>
    <a href="#">
      <img class="play-video-home" src="img/play-video.png" alt="">
    </a>
    <div class="ico1-home"></div>
    <div class="ico2-home"></div>
    <div class="ico3-home"></div>
    <div class="ico4-home"></div>
    <div class="ico5-home"></div>
    <div class="ico6-home"></div>
  </div>
{% endblock %}
